@import "src/assets/colors";

.app-call-txn-logs-wrapper {
  .app-call-txn-logs-container {
    margin-top: 20px;
    border-radius: 10px;
    .props {
      margin-top: 0px !important;
    }
    .key {
      margin-bottom: 20px;
    }
    .item {
      padding: 15px 0px;
    }
  }
}
