.long-id {
  max-width: min(calc(100% - 25px), calc(100vw - 100px));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
}
