.nowrap {
  white-space: nowrap;
}

.dimparent {
  white-space: normal;
  & svg { position: relative; top: -0.1rem; }

  .dim > * {
    opacity: 0.6;
  }
}

.dimparent:hover {
  .dim > * {
    opacity: 1;
  }
}
