.footer {
  display: flex;
  justify-content: space-between;

  margin-top: 5px;

  .current {
    text-decoration: none !important;
    color: black;
  }
}
@media only screen and (max-width: 900px) {
  .footer {
    padding: 10px 10px 10px 10px;
  }
}
@media only screen and (min-width: 901px) {
  .footer {
    padding: 10px 100px 10px 100px;
  }
}


