@import "src/assets/colors";

.application-global-state-wrapper {
  .application-global-state-container {
    margin-top: 40px;
    border-radius: 10px;
    .props {
      margin-top: 0px !important;
      padding: 0px !important;
      .title {
        padding-left: 20px;
      }
      .dim { opacity: 0.6; }
    }
    .application-global-state-body {
      margin-top: 25px;
      .copy-content {
        font-size: 16px;
        margin-right: 10px;
        vertical-align: text-bottom;
      }
    }
  }
}
