@import "~reset-css/sass/reset";
@import "./assets/colors";

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('assets/fonts/DejaVu/DejaVuSansMono.ttf') format('ttf'),
  url('assets/fonts/DejaVu/DejaVuSansMono.ttf') format('truetype');
}
@font-face {
    font-family: 'DejaVu Sans Mono Bold';
    src: url('assets/fonts/DejaVu/DejaVuSansMono-Bold.ttf') format('ttf'),
    url('assets/fonts/DejaVu/DejaVuSansMono-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'DejaVu Sans Mono Italic';
    src: url('assets/fonts/DejaVu/DejaVuSansMono-Oblique.ttf') format('ttf'),
    url('assets/fonts/DejaVu/DejaVuSansMono-Oblique.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'DejaVu Sans Light';
    src: url('assets/fonts/DejaVu/DejaVuSans-ExtraLight.ttf') format('ttf'),
    url('assets/fonts/DejaVu/DejaVuSans-ExtraLight.ttf') format('truetype');
}
body {
  font-family: "DejaVu Sans Mono";
}
* {
  font-family: "DejaVu Sans Mono" !important;
}

.modal-close-button {
  &:hover {
    cursor: pointer;
  }
}

.HFlex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.no-select {
  user-select: none;
}

.hover-cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}

::selection {
  color: $color-background;
  background: #967bb6;
}
