@import "src/assets/colors";

.transaction-logic-sig-wrapper {
  .transaction-logic-sig-container {
    margin-top: 30px;
    .transaction-logic-sig-header {
      font-size: 20px;
      font-weight: bold;
    }
    .transaction-logic-sig-body {
      .code-tab-panel {
        padding: 0;
        padding-top: 24px;
      }
      .lsig-args {
        .key {
          margin-left: 14px;
          margin-bottom: 10px;
        }
        .value {
          margin-left: 14px;
          margin-top: 10px;
          word-break: break-all;
          font-size: 14px;
          .arg {
            margin: 8px 0;
            display: flex;
            align-items: center;
            .arg-length {
              margin-left: 8px;
              font-size: 13px;
              color: $color-grey-mid-dark;
              white-space: nowrap;
            }
          }
        }
      }
      .sub-sig {
        margin: 12px 0px;
        font-size: 14px;
      }
    }
  }
}
